<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxm.edu.mapper.SupplierMapper">

	<sql id="Base_Column_List">
		supplier_id, supplier_shortname, supplier_name, legal_person, financing,
		business_contacter,
		telephone, address, open_bank, bank_code, business_license, tax_certificate,
		taxpayer_property,
		business_scope, company_profile, service_promise, application_option,
		certificate_time,
		created_time, modified_time
	</sql>

	<select id="getSuppliers" parameterType="com.dxm.edu.entity.SupplierEntity"
		resultType="SupplierEntity">
		select
		<include refid="Base_Column_List" />
		from t_supplier
		<where>
			<if test="supplierName != null and supplierName != ''">
				and supplier_name = #{supplier_name}
			</if>
			<if test="supplierShortname != null and supplierShortname != ''">
				and supplier_shortname = #{supplierShortname}
			</if>
		</where>
		order by created_time desc
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="SupplierEntity">
		select
		<include refid="Base_Column_List" />
		from t_supplier
		where supplier_id = #{supplierId,jdbcType=VARCHAR}
	</select>

	<insert id="insertSelective" parameterType="SupplierEntity">
		insert into t_supplier
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="supplierId != null">
				supplier_id,
			</if>
			<if test="supplierShortname != null">
				supplier_shortname,
			</if>
			<if test="supplierName != null">
				supplier_name,
			</if>
			<if test="legalPerson != null">
				legal_person,
			</if>
			<if test="financing != null">
				financing,
			</if>
			<if test="businessContacter != null">
				business_contacter,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="openBank != null">
				open_bank,
			</if>
			<if test="bankCode != null">
				bank_code,
			</if>
			<if test="businessLicense != null">
				business_license,
			</if>
			<if test="taxCertificate != null">
				tax_certificate,
			</if>
			<if test="taxpayerProperty != null">
				taxpayer_property,
			</if>
			<if test="businessScope != null">
				business_scope,
			</if>
			<if test="companyProfile != null">
				company_profile,
			</if>
			<if test="servicePromise != null">
				service_promise,
			</if>
			<if test="applicationOption != null">
				application_option,
			</if>
			<if test="certificateTime != null">
				certificate_time,
			</if>
			<if test="createdTime != null">
				created_time,
			</if>
			<if test="modifiedTime != null">
				modified_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="supplierId != null">
				#{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="supplierShortname != null">
				#{supplierShortname,jdbcType=VARCHAR},
			</if>
			<if test="supplierName != null">
				#{supplierName,jdbcType=VARCHAR},
			</if>
			<if test="legalPerson != null">
				#{legalPerson,jdbcType=VARCHAR},
			</if>
			<if test="financing != null">
				#{financing,jdbcType=VARCHAR},
			</if>
			<if test="businessContacter != null">
				#{businessContacter,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="openBank != null">
				#{openBank,jdbcType=VARCHAR},
			</if>
			<if test="bankCode != null">
				#{bankCode,jdbcType=VARCHAR},
			</if>
			<if test="businessLicense != null">
				#{businessLicense,jdbcType=VARCHAR},
			</if>
			<if test="taxCertificate != null">
				#{taxCertificate,jdbcType=VARCHAR},
			</if>
			<if test="taxpayerProperty != null">
				#{taxpayerProperty,jdbcType=INTEGER},
			</if>
			<if test="businessScope != null">
				#{businessScope,jdbcType=VARCHAR},
			</if>
			<if test="companyProfile != null">
				#{companyProfile,jdbcType=VARCHAR},
			</if>
			<if test="servicePromise != null">
				#{servicePromise,jdbcType=VARCHAR},
			</if>
			<if test="applicationOption != null">
				#{applicationOption,jdbcType=VARCHAR},
			</if>
			<if test="certificateTime != null">
				#{certificateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifiedTime != null">
				#{modifiedTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_supplier
		where supplier_id = #{supplierId,jdbcType=VARCHAR}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="com.dxm.edu.entity.SupplierEntity">
		update t_supplier
		<set>
			<if test="supplierShortname != null">
				supplier_shortname = #{supplierShortname,jdbcType=VARCHAR},
			</if>
			<if test="supplierName != null">
				supplier_name = #{supplierName,jdbcType=VARCHAR},
			</if>
			<if test="legalPerson != null">
				legal_person = #{legalPerson,jdbcType=VARCHAR},
			</if>
			<if test="financing != null">
				financing = #{financing,jdbcType=VARCHAR},
			</if>
			<if test="businessContacter != null">
				business_contacter = #{businessContacter,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="openBank != null">
				open_bank = #{openBank,jdbcType=VARCHAR},
			</if>
			<if test="bankCode != null">
				bank_code = #{bankCode,jdbcType=VARCHAR},
			</if>
			<if test="businessLicense != null">
				business_license = #{businessLicense,jdbcType=VARCHAR},
			</if>
			<if test="taxCertificate != null">
				tax_certificate = #{taxCertificate,jdbcType=VARCHAR},
			</if>
			<if test="taxpayerProperty != null">
				taxpayer_property = #{taxpayerProperty,jdbcType=INTEGER},
			</if>
			<if test="businessScope != null">
				business_scope = #{businessScope,jdbcType=VARCHAR},
			</if>
			<if test="companyProfile != null">
				company_profile = #{companyProfile,jdbcType=VARCHAR},
			</if>
			<if test="servicePromise != null">
				service_promise = #{servicePromise,jdbcType=VARCHAR},
			</if>
			<if test="applicationOption != null">
				application_option = #{applicationOption,jdbcType=VARCHAR},
			</if>
			<if test="certificateTime != null">
				certificate_time = #{certificateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				created_time = #{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifiedTime != null">
				modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where supplier_id = #{supplierId,jdbcType=VARCHAR}
	</update>


</mapper> 